name: Call a reusable workflow

on:
  workflow_dispatch:
  
# env: 
#   RUNNER: self-hosted
  
jobs:
  call-workflow-job-one:
    uses: SergeyUnderforest/azure_pipeline/.github/workflows/job-one.yaml@master
#   call-workflow-job-two:
#     uses: SergeyUnderforest/azure_pipeline/.github/workflows/job-two.yaml@master
#   call-workflow-job-three:
#     uses: SergeyUnderforest/azure_pipeline/.github/workflows/job-three.yaml@master
 
